
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Add CSS styling here */

body {
    width: 100%;
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.center-text {
    text-align: center;
}
h1 {
    font-size: 2.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 3px solid green; */
    margin-bottom: 1rem;
}

nav a {
    /* margin: .1rem .1rem; */
    padding: 0.1rem;
    background-color: dodgerblue;
    font-size: 1rem;
    padding: 0.8rem;
    text-decoration: none;
    color: white;
    border: 2px solid lightgrey;
}

h2 {
   font-size: 1.5rem;
   margin-bottom: 1.25rem;
   text-transform: uppercase;
   font-family: 'Roboto', sans-serif;
   font-weight: 400;
}

.main-text {
    margin-left: 15%;
    margin-right: 15%;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;

}

.wide-image {
    margin-top: 1.25rem;
    width: 100%;
    height: 50%;
    margin-bottom: 1.5rem;
}
.gallery {
    display: flex;
    flex-direction: row;
    /* border: 5px solid black; */
    justify-content: space-between;
    background-color: mistyrose;
}
.tall-image {
    width: 17%;
    height: 100%;
}
.tall-textbox {
    width:17%;
    height: 100%;
    align-self: center;
    align-text: center;
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    margin: 3%;

}

.footer-box {
    display: flex;
    height: 6rem;
    width: 100%;
    background-color: lightcyan;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.footer-box a {
    margin: 0 0%;
    padding: 0;
    background-color: dodgerblue;
    font-size: 1rem;
    padding: 0.8rem;
    text-decoration: none;
    color: white;
    border: 2px solid black;
}